<body>
  




<!--<h1>Plays#index</h1>-->
<!--<p>Find me in app/views/plays/index.html.erb</p>-->
<!--ph-->
<div class="all_ph">
  <div class="plays_index">
  <% @plays.each do |play| %>
    <div class="plays_index01">
      <!---->
      <div class="plays_index02">
      <%= link_to play_path(play) do %>
      <%= attachment_image_tag play, :image, class: "plays_image" %>
      <% end %>
      </div>
      <div class="plays_index03">
        <!---->
        <div class="plays_index04">
        <%= link_to play_path(play.user.id) do %>
        <%= attachment_image_tag play.user, :profile_image, fallback: "no-image.png", class: "profile_image_ph" %>
        <% end %>
        </div>
        <div class="plays_index05">
          <!---->
          <div class="plays_index06">
          <%= play.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
          </div> 
          <!---->
          <div class="plays_index07">
          <i class="fas fa-crown"></i><%= link_to play.user.username, user_path(play.user), class: "plays_username" %>
          </div>
          <!---->
        </div>
      </div>
    </div>  
  <% end %>
  </div>

<!--new_btn-->
  <div class="fixed_btn">
    <%= link_to new_play_path, class: "new_btn" do %>  
    <i class="fas fa-paper-plane"></i>
    <% end %>
  </div>
</div>


<!--pc-->
<div class="all_pc">
  <div class="header_main">
    <h1 class="tittle an2-fadeup">About</h1>
  </div>
  <div class="plays_index_pc00">
  <% @plays.each do |play| %>
    <div class="plays_index_pc01">
      <!---->
      <div class="plays_index_pc02">
      <%= link_to play_path(play) do %>
      <%= attachment_image_tag play, :image, class: "plays_image" %>
      <% end %>
      </div>
      
      <div class="plays_index_pc03">
        <!---->
        <div class="plays_index_pc04">
        <%= link_to play_path(play.user.id) do %>
        <%= attachment_image_tag play.user, :profile_image, fallback: "no-image.png", class: "profile_image_ph" %>
        <% end %>
        </div>
        <div class="plays_index_pc05">
          <!---->
          <div class="plays_index_pc06">
          <%= play.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
          </div> 
          <!---->
          <div class="plays_index_pc07">
          <i class="fas fa-crown"></i><%= link_to play.user.username, user_path(play.user), class: "plays_username" %>
          </div>
          <!---->
        </div>
      </div>
    </div>  
  <% end %>
  </div>

  <!--new_btn-->
  
  <footer>
    <div class="footer01">
    <p id="page-top"><a href="#">↑</a></p>
    </div>
    <div class="footer02">
      <div class="h3">
        <p></p>
      </div>
      <div class="footer03">
      <a href="#" class="btn-social-long-twitter">
        <i class="fab fa-twitter"></i> <span>Follow Me</span>
      </a>
      </div>
    </div>
    <div class="Copyright">
      <small>Copyright &copy; 2021 CloudSquid Co.,Ltd.</small>
    </div>
  </footer>

</div>
</body>